<div class="instructions">
  <h3>Welcome to the recipe manager.</h3>
  <hr />
  <p>
    To search for recipes, use the text bar in the middle of the screen. Type a tag keyword or the name of a recipe.
    <b>DO NOT enter more than one tag, and MAKE SURE that you have entered the exact spelling of the tag/recipe name that you are searching for.</b>
    Otherwise, the search results will be inaccurate or empty.
  </p>
  <hr />
  <p>
    To add a recipe, use the 'plus' button at the top center of your screen.
    The recipe is described by the url of the site you acquired it from and keyword tags that you may customize.
  </p>
  <hr />
  <p>
    To delete a recipe, use the search bar to display it and click the trash can icon. Then, click the delete button in the dialog to confirm that you want to delete that recipe.
  </p>
  <hr />
  <p>
    To edit a recipe, use the search bar to display it and click the pencil icon. A filled-in dialog will be displayed, and you may make edits to the fields shown.
  </p>
</div>
