.textinput {
  width: 100%;
  height: 5vh;
  margin: 2vh;
}

.submitbutton {
  margin: auto;
  width: 35%;
  height: 4vh;
}

.dialog {
  width: 60vw;
  height: 55vh;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.add-tag-button {
  float: right;
  background-color: lightgray;
}
