.delete-dialog {
  height: 20vh;
  width: 30vw;
}

.button {
  height: 10vh;
  width: 14.7vw;
}

.delete-button {
  background-color: red;
  color: white;
}

.cancel-button {
  border: 2px solid lightgrey;
}
